body{
    background-color: #EAF6F6;
}
hr{
    border-style: dotted none none ;/*or you can simply write as border-style:none;(enter)border-top-style:dotted; */
    border-color: grey;
    border-width: 5px;
    width: 5%;
    height: 0%;
}
h1 , h3{
    color: #66BFBF;
}